.navitem {
    color: #FFFFFF;
    font-size: 1.1rem;
}

.navitem:hover {
    text-decoration: underline;
}

.logo:hover {
    transform: scale(1.2);
}

.logo {
    transition: all 0.2s ease-in-out;
}