body {
    margin: 0;
    background-color: #4d5d53;
    font-family: "Abril Text", Georgia, serif;
    margin-bottom: 10vw;
}

/*
.header-container {
    position: relative;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

.nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
    */

p, li {
    font-family: 'Inter', sans-serif;
    color: #EAE6E5
}

li {
    margin-top: 0.4rem;
}

.header-container {
    position: relative;
}

.banner {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    display: block;
    position: relative;
    background-position: top 50%;
    background-size: 100%;
}

.parallax-container {
    background-attachment: fixed;
}

.nav-overlay {
    background: rgba(0,0,0,0.70);
    z-index: 2;
    width: auto;
    padding: 0.5rem;
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
}


.accent-color {
    color: #738276;
}

.offwhite {
    color: #EAE6E5
}

.dark-color {
    color: #12130F
}

.weird-accent {
    color: #CB7A5C
}

.bold {
    font-weight: bold;
}

img.rounded-corners {
    border-radius: 20px;
}

p.large {
    font-size: 1.2rem;
}

.report-title {
    margin-left: 12rem;
    margin-top: 15rem;
}

.heading {
    color: #CB7A5C;
    font-weight: bold;
}

.customButton {
    color: #EAE6E5;
    background-color: #738276;
    border-color: #738276;
    border-radius: 0.4rem;
    padding: 0.45rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    width: fit-content;
    font-style: normal;
}

.big-text-container {
    width: 85%;
}

.bottom-spacing {
    margin-bottom: 10vw;
}

.fully-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}